@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

* {
    padding: 0;
    margin: 0;
    list-style: none;
    border: none;
    box-sizing: border-box;
    text-decoration: none;
}

section {
    justify-content: center;
    min-height: 100vh;
    justify-items: center;
    align-items: center;
    text-align: center;

}

.container {
    max-width: 1140px;
    width: 100%;
    padding-left: 12px;
    padding-right: 12px;
    margin-left: auto;
    margin-right: auto;
}

nav {
    display: flex;
    justify-content: space-between;

}

ul {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-top: 10px;

}

.btn {
    width: 100px;
    height: 40.1px;
    border-radius: 100px;
    background: #25DAC5;
    color: white;
}

.img {
    background-image: url(/assets/image/header_6.png);
}

.nav-list {
    font-family: "DM Sans", sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    text-align: left;
    color: #FFFFFF;
}

.head-1 {
    font-family: "DM Sans", sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 31.25px;
    letter-spacing: -0.2926828861236572px;
    margin-top: 20px;
    color: #FFFFFF;
}

.p-1 {
    font-family: "DM Sans", sans-serif;
    font-size: 58px;
    font-weight: 700;
    line-height: 70px;
    letter-spacing: -1px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 106px;
}

.svg {
    margin-top: 46px;
}

.p-2 {
    font-family: "DM Sans", sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 46px;
}